/*  */
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: var(--first-color);
  background-color: var(--bg-color);
}

/* --- reset --- */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  outline: 1px solid red;
}

.link {
  text-decoration: none;
}

.button {
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #8f95a5;
  background-color: var(--bg-color);
  background-color: beige;
}

.container {
  width: 1368px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 180px;
  background-color: #ffffff;
  border-bottom: 1px solid;
}

.btn {
  display: inline-block;
  border-radius: 10px;
}
.btn:hover, .btn:focus {
  background-color: tomato;
  color: #ffffff;
}

.title {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
  color: #000000;
}

.pretitle,
.subtitle {
  font-size: 30px;
  color: #263238;
  font-weight: 600;
  line-height: 1.6; /* 160% */
}

/* Centered */
.title--centered {
  text-align: center;
}

.header-wrapper {
  padding-top: 55px;
  padding-bottom: 55px;
}

.header-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: 1px solid teal;
}

.logo {
  font-size: 36px;
  color: #000;
}
.logo__accent {
  color: #939393;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 256px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.nav__item + .nav__item {
  margin-left: 50px;
}

.nav__link {
  font-weight: 500;
  color: #263238;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.head__btn {
  margin-left: auto;
  padding: 20px 56px;
  background-color: #ffffff;
  border: 2px solid #263238;
}

.hero-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.hero__title {
  font-size: 64px;
  font-weight: 600;
  line-height: 1.25; /* 125% */
}

.hero__txt {
  margin-top: 40px;
  font-size: 24px;
}

.hero__thumb {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: 144px;
}

.hero__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 60px;
  padding: 23px 64px;
  font-size: 36px;
  letter-spacing: 1.08px;
  color: #ffffff;
  background-color: #263238;
}

.pricing__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-top: 60px;
}

.pricing__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
  outline: 2px solid green;
}

.pricing__descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.pricing__subtitle {
  padding-top: 31px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.pricing__txt {
  margin-top: 20px;
  padding-bottom: 30px;
}

.pricing__price {
  display: inline-block;
  padding-left: 31px;
  outline: 1px solid tomato;
}/*# sourceMappingURL=main.css.map */