body {
   // background-color: teal;
   font-size: 32px;
   font-family: sans-serif;
   font-style: normal;
}
// =============== TEST===

.nav__item {
   background-color: tomato;
   & .second {
      background-color: #ccc;
   }
   &:nth-child(4) {
      background-color: yellow;
   }
}
