//
// .footer {

// }

.fotter__wrapper {
   //    padding-top: 55px;
   display: flex;
   align-items: center;

   border-top: 1px solid red;
}

.service__wrapper {
   margin-left: auto;
   padding-top: 22px;
   padding-bottom: 22px;
   display: flex;
   align-items: center;
}
.service__list {
   display: flex;
}

.service__item + .service__item {
   margin-left: 80px;
}

.service__link {
   color: inherit;

   font-size: 24px;
   letter-spacing: 0.48px;
}
