//
.footer {
   padding-top: 55px;
   padding-bottom: 55px;
}

.fotter__wrapper {
   //    padding-top: 55px;
   display: flex;
   align-items: center;

   border-top: 1px solid $color-footer-border;
}

.service__box {
   margin-left: auto;
   // padding-top: 22px;
   // padding-bottom: 22px;
   display: flex;
   align-items: center;
}
.service__list {
   display: flex;
}

.service__item + .service__item {
   margin-left: 80px;
}

.service__link {
   display: inline-block;
   padding-top: 22px;
   padding-bottom: 22px;

   color: inherit;

   font-size: 24px;
   letter-spacing: 0.48px;
}
