// ===== COLOR-SCSS-VARS =====
$color-first: #8f95a5;
$color-second: #263238;
$color-subtitle: #263238;
$color-title: #000000;
$color-brand: #939393;
$color-hover: tomato;
$color-dark-btn: #ffffff;

// $bg-first-page: #ffffff;

$bg-first: #ffffff;

$bg-second-page: #f5f5f5;

$bg-btn-color: #263238;
